In [1]:
import numpy as np
import pandas as pd

In [8]:
Data10=pd.read_csv("../Data/2009-2010.csv")
Data9=pd.read_csv("../Data/2008-2009.csv")
Data8=pd.read_csv("../Data/2007-2008.csv")
Data7=pd.read_csv("../Data/2006-2007.csv")
Data=pd.concat([Data7,Data8,Data9,Data10],sort=False,ignore_index=True)
Data=Data[['HomeTeam','AwayTeam','FTHG','FTAG','FTR']]
Data.columns=['Home','Away','HG','AG','Result']
Out=["Lecce","Messina","Ascoli","Reggina","Empoli","Torino"]
for out in Out:
    Data = Data.loc[Data.Home != out]
    Data = Data.loc[Data.Away != out]
Data=Data.reset_index()
Team=Data.Home.value_counts().index
coef=pd.DataFrame({'Team':Team})

In [9]:
Pred_Data=pd.read_csv("../Data/2009-2010.csv")
Pred_Data=Pred_Data[['HomeTeam','AwayTeam','FTHG','FTAG','FTR']]
Pred_Data.columns=['Home','Away','HG','AG','Result']
Team=Pred_Data.Home.value_counts().index

In [10]:
Data.head()

   index        Home     Away  HG  AG Result
0      0  Fiorentina    Inter   2   3      A
1      1        Roma  Livorno   2   0      H
2      3    Cagliari  Catania   0   1      A
3      4      Chievo    Siena   1   2      A
4      6       Milan    Lazio   2   1      H

In [4]:
Data.describe()

             index           HG           AG
count  1134.000000  1134.000000  1134.000000
mean    844.568783     1.530864     1.097002
std     437.286837     1.180311     1.055950
min       0.000000     0.000000     0.000000
25%     483.500000     1.000000     0.000000
50%     876.000000     1.000000     1.000000
75%    1235.750000     2.000000     2.000000
max    1519.000000     7.000000     5.000000